.custom-tarte-header-navbar {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 10000;
}
.custom-tarte-header-navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

#customtartefooter {
  background-color: #ffffff;
  padding: 0;
  font-family: primary;
}
#customtartefooter .custom-tarte-footer {
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: primary;
}
#customtartefooter .custom-tarte-footer-item {
  padding-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: primary;
}
#customtartefooter .custom-tarte-footer-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
#customtartefooter .custom-tarte-footer-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
#customtartefooter .custom-tarte-footer-item-container p {
  font-size: 16px;
  white-space: nowrap;
  font-weight: 550;
}
#customtartefooter .custom-tarte-footer-item-container p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#customTrateCheckout .cardHeader {
  background-color: #eee;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 500;
}
#customTrateCheckout .card-body {
  padding-left: 35px;
  padding-right: 35px;
}
#customTrateCheckout input[type=checkbox] {
  accent-color: #000;
  width: 18px;
  height: 18px;
}
#customTrateCheckout input[type=radio] {
  accent-color: #000;
}

.region-section {
  background-color: #eee;
  color: #000;
  width: 300px;
  border-radius: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}
.region-section p {
  font-size: 15px;
  margin: 0;
  text-align: center;
}
.region-section img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carbon-section {
  background-color: #eee;
  color: #000;
  border-radius: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}
.carbon-section .carbon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.carbon-section .carbon1-text {
  text-align: left;
}
.carbon-section .leaf-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}
.carbon-section .info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-header.cardHeaderStyle {
  background-color: #eee;
  color: #000;
  height: 60px;
}

.card-body.cardBodyStyle {
  background-color: #eee;
  color: #000;
}

.shipping-address-block input[type=checkbox] {
  accent-color: #000;
  width: 18px;
  height: 18px;
}

.summary-details input[type=radio] {
  accent-color: #000;
}

.checkoutRow {
  position: relative;
  min-height: 150vh;
}

.checkoutCol1 {
  height: 100%;
  overflow-y: auto;
}

.checkoutCol2 {
  position: sticky;
  overflow-y: hidden;
  height: 100vh;
  top: 0;
}
