@import "../../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../carousel/extraSmallCarousel";
@import "../../carousel/mediumCarousel";
@import "../../carousel/smallCarousel";

// Disable linter for kebab case only as certain classes cannot be renamed in the ISML
// as they are not present in the templates, such as .experience-commerce_layouts-carousel
/* stylelint-disable selector-class-pattern */
//--------------------------------------------------------
.full-width-carousel-container {
    width: 100%;         /* Full viewport width */
    position: relative;   /* Needed for proper positioning */
}

.carousel {
    width: 100%;          /* Ensure inner carousel fills container */
    overflow: hidden;     /* Prevent horizontal scroll */
}

.carousel-control-prev.edge-control,
.carousel-control-next.edge-control {
    display: flex !important;
    align-items: center;
    justify-content: center; // this centers the icon horizontally
    // background-color: $gray-transparent-1;
    height: 4.6875rem;
    width: 3.125rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    position: absolute;
}

.carousel-control-prev.edge-control {
    left: 10px;
}

.carousel-control-next.edge-control {
    right: 10px;
}

.carousel-control-prev.edge-control .carousel-control-prev-icon,
.carousel-control-next.edge-control .carousel-control-next-icon {
    left: auto;
    right: auto;
    transform: none;
}

//-----------------------------------------
.carousel-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.experience-commerce_layouts-carousel .carousel-control-next {
    display: none;
}

.experience-commerce_layouts-carousel .carousel-control-prev {
    display: none;
}

.experience-einstein-einsteinCarousel .carousel-control-prev,
.experience-einstein-einsteinCarousel .carousel-control-next,
.experience-einstein-einsteinCarouselCategory .carousel-control-next,
.experience-einstein-einsteinCarouselCategory .carousel-control-prev,
.experience-einstein-einsteinCarouselProduct .carousel-control-prev,
.experience-einstein-einsteinCarouselProduct .carousel-control-next,
.experience-commerce_layouts-carousel .carousel-control-prev,
.experience-commerce_layouts-carousel .carousel-control-next {
    position: absolute;
    background-color: $gray-transparent-1;
    height: 4.6875rem;
    width: 3.125rem;
    top: 30%;
}

.experience-einstein-einsteinCarousel .carousel-control-prev,
.experience-einstein-einsteinCarouselCategory .carousel-control-prev,
.experience-einstein-einsteinCarouselProduct .carousel-control-prev,
.experience-commerce_layouts-carousel .carousel-control-prev {
    left: -0.325rem;

    .carousel-control-prev-icon {
        position: absolute;
        left: 30%;
    }
}

.experience-einstein-einsteinCarousel .carousel-control-next,
.experience-einstein-einsteinCarouselCategory .carousel-control-next,
.experience-einstein-einsteinCarouselProduct .carousel-control-next,
.experience-commerce_layouts-carousel .carousel-control-next {
    right: -0.325rem;

    .carousel-control-next-icon {
        position: absolute;
        right: 30%;
    }
}

.pd-carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    z-index: 15;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        position: relative;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 0.387rem;
        margin-left: 0.187rem;
        margin-bottom: 1rem;
        text-indent: -62.437rem;
        cursor: default;
        background-color: #FFFFFF;

        // Use pseudo classes to increase the hit area by 10px on top and bottom.
        &::before {
            position: absolute;
            top: -0.625rem;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 0.625rem;
            content: "";
        }

        &::after {
            position: absolute;
            bottom: -0.625rem;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 0.625rem;
            content: "";
        }
    }

    .active {
        background-color: #FFFFFF;
        outline: 1px solid #FFFFFF;
        outline-offset: 5px;
    }
}
/* stylelint-enable selector-class-pattern */
